/* src/fonts/fonts.css */
@font-face {
  font-family: 'Livvic';
  src: url('./LivvicRegular.ttf') format('truetype');
}

@font-face {
  font-family: 'centurygothic';
  src: url('./centurygothic.ttf') format('truetype'); 
}
@font-face {
  font-family: 'Cormorant_garamond';
  src: url('./Cormorant_garamond.ttf') format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  src: url('./Quicksand.ttf') format('truetype');
}
@font-face {
  font-family: 'Livvicsemibold';
  src: url('./LivvicSemiBold.ttf') format('truetype');
}